@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--gray);
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #000000;
  --gray: #0e1b23;
  --gray2: #26373f;
  --blue: #acd7e9;
  --blue2: #a1c9f2;
  --blueDark: #95b9de;
  font-size: 16px;
  line-height: 1.5;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 12px 48px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  border-radius: 0px 0px 2px 2px;
}

.headerButtonsContainer {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  gap: 8px;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 8px;
  transition: all 0.3s;
  border-radius: 4px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.headerButton:last-child {
  font-size: 0.9rem;
}

.headerButton:hover,
.headerLink:hover {
  border: 1px solid;
  color: white;
  background-color: black;
  outline: none;
}

.headerTitleContainer {
  display: flex;
  width: 75%;
  align-items: center;
}

.headerTitle {
  font-size: 1.3rem;
  font-weight: 100;
}

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 88px;
  padding-bottom: 54px;
  height: 20%;
  background-image: linear-gradient(to right, #c5f6da, #96bcf4);
}

.logoImage {
  height: 80%;
  width: 30%;
}

.productReleases {
  padding: 32px 96px 96px 96px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
}

.releaseTitle,
.productTitle {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  width: 100%;
}

.releaseTitle {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left, var(--blueDark), var(--gray2));
  background-size: 200% 100%;
  animation: gradientAnimation 2s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.productContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 36px 96px 96px 96px;
  width: 100%;
  gap: 24px;
  background-image: linear-gradient(to right, #c5f6da, #96bcf4);
}

.productTitle {
  color: #fff;
}

.productItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.productImage {
  border-radius: 2px;
  max-height: 286px;
  height: 100%;
}

.productName {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 8px;
}

.productName:hover {
  text-decoration: underline;
}

.productPrice {
  font-weight: 900;
  font-size: 1.2rem;
}

.productParcela {
  font-size: 0.8rem;
}

.productButton,
.productLabel {
  background-color: var(--gray);
  color: #eee;
  padding: 6px 18px;
  font-size: 14px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}

.productButton {
  margin-top: 8px;
}

.productLabel {
  position: absolute;
  top: 8px;
  right: -16px;
  cursor: default;
}

.productButton:hover {
  filter: brightness(1.4);
}

.whatsappFloatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-color: #4dc247;
  padding: 10px;
  border-radius: 50%;
  z-index: 999;
}

.whatsapp {
  fill: #fff;
}

.footerContainer {
  background-color: #fff;
  padding: 36px 60px;
  display: flex;
  align-items: center;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.footerContact > h2,
.footerLocalization > h2 {
  color: var(--gray);
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
  width: 50%;
}

.footerLocalization {
  width: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  backdrop-filter: blur(5px);
}

.modalContent {
  background-color: #fff;
  padding-right: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50%;
  height: 60%;
}

.modalClose {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modalImage {
  width: 50%;
  height: 100%;
}

.modalForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
}

.bar {
  border: none;
  border-top: 2px solid var(--blueDark);
  margin: 20px 0;
}

.modalTitle{
  font-weight: 500;
  text-transform: uppercase;
}

.modalForm > a {
  background-color: var(--gray);
  color: #eee;
  padding: 6px 18px;
  font-size: 14px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}

.modalFormWrap{
  display: flex;
  justify-content: space-between;
}

.modalFormWrap > p {
  font-weight: bold;
}

@media (max-width: 645px) {
  .footerLocalization {
    display: none;
  }
}

@media (max-width: 882px) {
  .productImage {
    height: 180px;
  }
  .productContainer,
  .productReleases {
    padding: 24px;
  }
  .headerButtonsContainer {
    width: 40%;
  }
  .headerTitleContainer {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .logoImage {
    min-height: 264px;
    min-width: 264px;
  }
}

@media (max-width: 481px) {
  .headerButtonsContainer {
    display: none;
  }
  .headerTitleContainer {
    width: 100%;
    justify-content: center;
  }
  .headerNav {
    justify-content: center;
    padding: 12px;
  }
  .productImage {
    height: 168px;
  }
  .releaseTitle {
    font-size: 2rem;
  }
}

@media (max-width: 324px) {
  .productImage {
    height: 168px;
  }
  .productContainer {
    gap: 12px;
  }
}
